<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/about-page.css" />
    <title>Document</title>
  </head>
  <header>
    <nav></nav>
  </header>
        <section id="section" class="flex">
        <img src="../images/Texas-Tech-Logo-RGB.PNG" alt="" class="logo">
  </section>
  <body>
    <div class="flex-container">
      <section id="section-a" class="flex">
        <h2></h2>
        <p>
        </p>
      </section>
      <section id="section-b" class="flex">
        <h2>What We Offer</h2>
        <ul>
          <li>Consulting</li>
          <li>Develpoment</li>
          <li>Training</li>
        </ul>
      </section>
      <section id="section-c" class="flex">
        <h2></h2>
        <p>
        </p>
      </section>
      <section id="section-d" class="flex">
        <h2>Volunteer and Give Back</h2>
        <p>
          We volunteer for sevarl organizations in Lubbock and surrounding areas. 
        </p>
      </section>
      <section id="section-e" class="flex">
        <h2></h2>
        <p>
        </p>
      </section>
      <section id="section-f" class="flex">
        <form action="" method="post" class="STYLE-NAME">
          <h1>
            Contact Form
            <span>Please fill all the texts in the fields.</span>
          </h1>
          <label>
            <span>Your Name :</span>
            <input
              id="name"
              type="text"
              name="name"
              placeholder="Your Full Name"
            />
          </label>

          <label>
            <span>Your Email :</span>
            <input
              id="email"
              type="email"
              name="email"
              placeholder="Valid Email Address"
            />
          </label>

          <label>
            <span>Message :</span>
            <textarea
              id="message"
              name="message"
              placeholder="Your Message to Us"
            ></textarea>
          </label>
          <label>
            <span>Subject :</span
            ><select name="selection">
              <option value="Job Inquiry">Job Inquiry</option>
              <option value="General Question">General Question</option>
            </select>
          </label>
          <label>
            <span>&nbsp;</span>
            <input type="button" class="button" value="Send" />
          </label>
        </form>
      </section>
    </div>
  </body>
</html>
