<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../styles/contact.page.css">
    <title>Document</title>
</head>
<body>

    <div class="grid">
        <div class="title">
            <h1>Contact Us</h1>
        </div>
        <!-- <div class="header"> 
            <ul class="navigation-list">
                <li class="navigation-itme"><a href="https://www.linkedin.com/in/ben-laycock/">LinkedIn</a></li>
                <li class="navigation-itme"><a href="https://www.facebook.com/blaycock09">Facebook</a></li>
            </ul>
        </div> -->
        <div class="sidebar">
            <h2>LinkedIn</h2>
        </div>
        <div class="content">
            <h2>Facebook</h2>
        </div>
        <div class="content2">
            <h2>Call Us</h2>
        </div>
        <div class="content3">
            <h2>Email Us</h2>
        </div>
        <div class="footer">
    <h2>Project by: Ben Laycock</h2>
</div>       
</div>

</body>
</html>