h1,
p,
hr,
h4 {
	text-align: center;
	color: #212529;
}

.jumbotron {
	background-color: #06d6a0;
}

.card {
	background-color: #118ab2;
}

body {
	background-color: #ffd166;
	font-family: 'Baloo Chettan', cursive;
}

.card-header {
	height: auto;
	background-color: #073b4c;
}

.carousel {
	background: white;
}
