/* Google Maps */
#map {
	width: 100%;
	height: 350px;
}

.jumbotron {
	background-image: url(../images/4k-wallpaper-architecture-background-1308624.jpg);
	background-size: cover;
	height: 100%;
	color: white;
	font-style: bold;
	font-family: 'Dokdo', cursive;
}

/*Calculator*/
