.container div {
	width: 50px;
	height: 50px;
	margin: 1em auto;
	transition: width 3s;
	text-align: center;
	transition-property: all;
}
div:hover :nth-child(odd) {
	width: 75px;
	height: 75px;
	margin: 1em auto;
	transform: translate(100px) rotate(270deg);
	transition-duration: 5s;
}

div:hover :nth-child(even) {
	width: 25px;
	height: 25px;
	margin: 1em auto;
	transform: translate(-100px) rotate(-270deg);
	transition-duration: 2s;
}

#box1 {
	background-color: red;
}
#box2 {
	background-color: blue;
}
#box3 {
	background-color: purple;
}
#box4 {
	background-color: orange;
}
#box5 {
	background-color: royalblue;
}
#box6 {
	background-color: lightcoral;
}
#box7 {
	background-color: palegoldenrod;
}
#box8 {
	background-color: rosybrown;
}
#box9 {
	background-color: olivedrab;
}
#box10 {
	background-color: turquoise;
}
#box11 {
	background-color: pink;
}
#box12 {
	background-color: brown;
}
