body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
	background-color: gainsboro;
	text-align: center;
}

.flex-container {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-center {
	justify-content: center;
	align-items: center;
}

.board-container {
	height: 100%;
	width: 100%;
}

.board {
	width: 618px;
}

.square {
	width: 200px;
	height: 200px;
	border: 3px solid mediumturquoise;
	font-size: 56px;
}

.square:hover {
	background-color: floralwhite;
	cursor: pointer;
}

header {
	text-align: center;
	font-size: 25px;
	margin: 2em;
}

.title {
	font-size: 42px;
	color: black;
	margin-bottom: 10px;
	margin-left: 10px;
}
